.flex {
  display: flex;
  gap: 16px;
  > div {
    flex: 1
  }
  &.space-between {
    justify-content: space-between;
  }
  &.align-item-center {
    align-items: center;
  }
}
.m-b-16 {
  margin-bottom: 16px;
}


h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 28px;
}
h6 {
  font-size: 24px;
}

