.flex {
  display: flex;
  gap: 16px;
  > div {
    flex: 1
  }
  &.space-between {
    justify-content: space-between;
  }
  &.align-item-center {
    align-items: center;
  }
}
.m-b-16 {
  margin-bottom: 16px;
}

